<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALL FOOD BANKS</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #dddddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #cd900b;
        }
    </style>
</head>
<body>
    <h1>Manage Food Banks</h1>
    <table>
        <thead>
            <tr>
                <th>Food Bank ID</th>
                <th>Name</th>
                <th>Location</th>
                <th>Email</th>
                <th>Date Joined</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        </thead>
        <tbody>
            {% for fb in fb %}
            <tr>
                <td>{{fb.FB_ID}}</td>
                <td>{{fb.name_of_org}}</td>
                <td>{{fb.city}} {{fb.state}}</td>
                <td>{{fb.email}}</td>
                <td>{{fb.date_joined}}</td>      
                <td>
                    <a class="btn btn-primary" href="profilefb/{{fb.FB_ID}}" role="button">More Details</a><br>
                    <a class="btn btn-primary" href="fb_documents/{{fb.FB_ID}}" role="button">View Documents</a>
                </td>    
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>