<form>
    <label for="type_of_documentation">Document Type:</label><br>
    <input type="text" id="type_of_documentation" name="type_of_documentation"><br>

    <label for="name_of_org">Organization Name:</label><br>
    <input type="text" id="name_of_org" name="name_of_org"><br>

    <label for="date_obtained">Date Obtained:</label><br>
    <input type="text" id="date_obtained" name="date_obtained"><br>

    <label for="expiration_date">Expiration Date:</label><br>
    <input type="text" id="expiration_date" name="expiration_date"><br>

    <form action="/" method="POST">
        <input type="submit" value="Submit Changes" id="DO_ID">
    </form>

  </form>