<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donor Documents</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #dddddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #cd900b;
        }
    </style>
</head>
<body>
    <h1>Your Documents</h1>
    <table>
        <thead>
            <tr>
                <th>Document ID</th>
                <th>Document Type</th>
                <th>Organization Name</th>
                <th>Date Obtained</th>
                <th>Expiration Date</th>
                <th>Document File</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{document.DOC_ID}}</td>
            </tr>
        </thead>
        <tbody>
            {% for document in document %}
            <tr>
                <td>{{document.DOC_ID}}</td>
                <td>{{document.type_of_documentation}}</td>
                <td>{{document.FB_ID.name_of_org}}</td>
                <td>{{document.date_obtained}}</td>
                <td>{{document.expiration_date}}</td>      
                <td>
                    <form action="/document_uploaded" method="post" enctype="multipart/form-data">
                        <input type="file" name="fileUpload" id="fileUpload">
                        <input type="submit" value="Upload">
                    </form>
                </td>
                <td>
                    <form action="/document_edit/{{document.DOC_ID}}" method="POST">
                        <input type="submit" value="Edit" id="DOC_ID">
                    </form>
                </td>     
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>