<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header Example</title>
</head>
<body>

<header>
    <h1 Please fill in this form to request a donation /h1>
    <form action= "/do_form" method = "POST">
        <label for = "username" > Enter your username:</label>
        <input type="text" name ="username" required> 
        <br>
        <label for = "username" > Username of donor:</label>
        <input type="text" name ="username" required> 
        <br>
        <label for = "name_of_org" > Name of org:</label>
        <input type="text" name ="name_of_org" required> 
        <br>
        <label for = "item"> Item:</label>
        <input type="text" name ="item" required>
        <br>
        <label for = "quantity"> Quantity(in number):</label>
        <input type ="number" name="quantity" required>
        <br>
        <label for = "date"> Date(yyyy/mm/dd):</label>
        <input type ="text" name="date" required>
        <br>
        <label for = "fbid"> Enter your user ID:</label>
        <input type ="text" name="fbid" required>
        <br>
        <label for = "doid"> Enter the user ID of the donor you are requesting from:</label>
        <input type ="text" name="doid" required>
        <br>
        <input type ="submit" value = "submit"/>
    </form>
</header>
