<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodbank Items</title>
</head>
<body>

    <h1>Foodbank Items</h1>
    <ul>
        {% if search_results %}
            {% for result in search_results %}
                <li> <a href="{{ url_for('fb_profile', FB_ID= result.FB_ID) }}">{{ result.name_of_org }}</a></li>
            {% endfor %}
        {% else %}
            <li>No results found</li>
        {% endif %}
    </ul>
    
</body>
</html>
